In [1]:
name=input("enter your name")
age=input("enter your age")
print("hello, i am",name)
print("my age is",age)

enter your nameaparna
enter your age17
hello, i am aparna
my age is 17

In [21]:
x=int(input("enter value x "))
y=int(input("enter value of y "))
print("sum of x+y is",x+y) # +, -, *, /, %
print("difference of x-y is",x-y)
print("multiplication of x*y is",x*y)
print("division of x/y is",x/y)
print(x%y)
print(x//y)
print("x to the power of y is",x**y)

enter value x 20
enter value of y 4
sum of x+y is 24
difference of x-y is 16
multiplication of x*y is 80
division of x/y is 5.0
0
5
x to the power of y is 160000

In [24]:
x=int(input("enter value x "))
y=int(input("enter value of y "))

enter value x 20
enter value of y 2

In [25]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

22
18
40
10.0
0
10
400

In [34]:
name=input("enter name of the person ") #name is a type of string
age=int(input("enter age of the person ")) #age is a type of int
print("my name is",name,"and my age is",age)
print("my name is:%s and my age is:%d"%(name,age))

enter name of the person kiki
enter age of the person 22
my name is kiki and my age is 22
my name is:kiki and my age is:22

In [44]:
x="abc123"
y='xyz'
print(x[3:])
print(y[0:])

123
xyz

## Arithmetic Operators

In [52]:
# +,-,*,/,%,//,**
x=10
y=20
print(x+y)
print(x-y)
print(x*y)
print(x/y) #floating point value
print(x//y) #int quotient
print(x**2)
print(x%y) #remainder

30
-10
200
0.5
0
100
10

### Relational Operators <,>,<=,>=,==,!=

In [58]:
x=30
y=20
x<y

False

In [59]:
x=66
y=55
x>y

True

In [1]:
x=39
y=23
x!=y

True

In [55]:
x=35
y=54
x<=y

True

In [56]:
x=90
y=87
x>=y

True

In [60]:
x=50
y=55
x==y

False

### Assignment Operators =,+=,-=,*=,/=,//=,**=,%=

In [76]:
x=10
y=20
print(x)
x+=1 #x=x+1
print(x)
x-=1 #x=x-1
print(x)
x-=1
print(x)
x*=2
print(x)
x//=3
print(x)
x**=2
print(x)
print(y)
y+=1
print(y)

10
11
10
9
18
6
36
20
21

### Logical Operators: and,or,not

In [81]:
x=19
y=29
z=30
x<y and x>z

False

In [88]:
x=15
y=15
z=9
not x

False

In [86]:
x=56
y=34
z=35
print(x>10 and y>30 and z>30)
print(x>40 or y<30)
print(not(x>40 or y<30))

True
True
False

### Conditional Statements

In [99]:
x=56
y=34
z=35
if (x>30 and y>30 and z>30):
    print("pass")
else:
    print("fail")

pass